.examples {
  display: none;
  margin: auto;
  margin-top: 55px;
  padding: 40px 20px;
  text-align: center;
  background: linear-gradient(135deg, #b468b029,#fbd0fb72,#b2ddf3a9,#fbd0fb7f, #ffb3ef47);
  width: 70%;
  border-radius: 30px;
}

.examples h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #4a148c;
}

.cards {
  display: flex;
  flex-direction: column; /* Bu satır eklendi */
  align-items: center;    /* Ortalamak istersen */
  gap: 20px;
  
}