#start-btn {
  background-color: #6a1b9a;
  color: white;
  padding: 12px 24px;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

#start-btn:hover {
  background-color: #8e24aa;
}